.callOut {
  border: 2px solid $primaryColor;
  padding: 32px 24px;
  border-radius: 12px;

  &__content {
    color: $bodyCopy;
    text-align: center;
    font-size: $fontSize24;
    font-weight: $fontWeightMedium;
    line-height: $lineHeight135;

    @include media('<=tablet'){
      font-size: $fontSize20;
    }

    p {
      max-width: 756px;
      margin: 0 auto;

      @include media('<=tablet') {
        max-width: 600px;
      }
    }

    .fullWidthBarrier {
      max-width: 1072px;

      @include media('<=tablet'){
        max-width: 656px;
      }
    }

    .fullWidthWeightManagement{
      max-width: 1080px;

      @include media('<=tablet'){
        max-width: 664px;
      }
    }

    ::v-deep span.red {
      color: $primaryColor;
      font-weight: $fontWeightBold;
    }
  }
}
