<div class="graph">
  <div class="graph__rowOne">
    <div class="graph__rowOneIcon">
        <img src="../../../Assets/Img/Abnormal/icon-fat.svg" alt="fat icon">
    </div>
    <div class="graph__rowOneText">
        <p class="graph__rowOneTitle">Abnormal excess fat<sup>4-7</sup></p>
        <ul>
            <li>Pathological expansion of adipocytes*</li>
            <li>Increase in inflammatory signals*</li>
            <li>Elevation of plasma lipids*</li>
        </ul>
    </div>
    <span class="arrow"></span>
    <span class="arrow"></span>
    <span class="arrow"></span>
  </div>
  <div class="graph__rowTwo">
    <div class="organ">
        <p>Skeletal muscle<sup>6,8,9*†</sup></p>
        <div><img src="../../../Assets/Img/Abnormal/icon-muscle.svg" alt="icon"></div>
    </div>
    <div class="organ">
        <p>Liver<sup>6*†</sup></p>
        <div><img src="../../../Assets/Img/Abnormal/icon-liver.svg" alt="icon"></div>
    </div>
    <div class="organ">
        <p>Pancreas<sup>8,9*</sup></p>
        <div><img src="../../../Assets/Img/Abnormal/icon-pancreas.svg" alt="icon"></div>
    </div>
  </div>
  <div class="graph__rowThree">
    <ul>
        <li>Increased lipid uptake<sup>†</sup></li>
        <li>Inflammation<sup>*</sup></li>
        <li>Cellular stress<sup>*</sup></li>
    </ul>
    <ul>
        <li>Increased lipid uptake<sup>†</sup></li>
        <li>Inflammation<sup>*</sup></li>
        <li>Cellular stress<sup>*</sup></li>
    </ul>
    <ul>
        <li>Inflammation<sup>*</sup></li>
        <li>β-cell dysfunction<sup>*</sup></li>
        <li>Impaired insulin secretion<sup>*</sup></li>
    </ul>
    <span class="arrow"></span>
    <span class="arrow"></span>
    <span class="arrow"></span>
  </div>
  <div class="graph__rowFour">
    <p class="title">Local and systemic insulin resistance and inflammation<sup>5,6</sup></p>
    <p class="des">*Based on preclinical studies. †Based on clinical studies.</p>
  </div>
</div>
