.graph {
    max-width: 1018px;
    margin: 0 auto;

    @include media('<=tablet'){
        max-width: 622px;
    }

    &__rowOne {
        border-radius: 12px;
        border: 2px solid $acentColor;
        padding: 32px 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 59px;
        position: relative;

        @include media('<=tablet') {
            margin-bottom: 32px;
            padding: 17px 22px;
        }

        .arrow {
            position: absolute;
            bottom: -48px;
            content: url('../../../Assets/Img/Abnormal/icon-down-arrow.svg');

            @include media('<=tablet') {
                height: 25px;
                bottom: -25px;
            }
        }
        .arrow:nth-of-type(1) {
            left: 15.6%;
        }
        .arrow:nth-of-type(2) {
            left: 50%;
        }
        .arrow:nth-of-type(3) {
            right: 15.6%;
        }
    }
    &__rowOneIcon {
        max-width: 112px;
        max-height: 92px;
        margin-right: 40px;

        @include media('<=tablet'){
            width: 61px;
            height: 50px;
            margin-right: 22px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__rowOneText{
        ul {
            margin-top: 20px;

            @include media('<=tablet') {
                margin-top: 11px;
            }

            li {
                color:  $white;
                font-size:  $fontSize14;
                font-weight: $fontWeightNormal;
                line-height: $lineHeight140;
                position: relative;
                padding-left: 16px;

                @include media('<=tablet') {
                    font-size: $fontSize11;
                }
            }
            li::before{
                position: absolute;
                left: 0;
                content: '•';
                margin-right: 8px;
            }
        }
    }
    &__rowOneTitle {
        color: $white;
        font-size:  $fontSize34;
        font-weight: $fontWeightBold;
        line-height: $lineHeight135; 

        @include media('<=tablet'){
            font-size: $fontSize16;
        }
    } 

    &__rowTwo {
        display: flex;
        margin-bottom: 59px;

        @include media('<=tablet') {
            margin-bottom: 32px;
        }

        .organ {
            border-radius: 12px;
            border: 2px solid $acentColor;
            max-width: 326px;
            width: 32%;
            padding: 32px 40px;
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            justify-content: space-between;

            @include media('<=tablet') {
                padding: 17px 22px;
                width: 32%;
            }
            @include media('<=smallPhone') {
                max-width: 32%;
            }

            p {
                margin-bottom: 31px;
                color: $white;
                text-align: center;
                font-size:  $fontSize20;
                font-weight: $fontWeightBold;
                line-height: $lineHeight135;

                @include media('<=tablet') {
                    font-size: $fontSize10;
                    margin-bottom: 16px;
                }
            }

            &__muscle{
                width: 104px;
                height: 103px;

                @include media('<=tablet') {
                    width: 56px;
                    height: 55px;
                }
            }

            &__liver {
                width: 121px;
                height: 91px;

                @include media('<=tablet') {
                    width: 65px;
                    height: 49px;
                }
            }

            &__pancreas {
                width: 116px;
                height: 110px;

                @include media('<=tablet') {
                    width: 63px;
                    height: 59px;
                }
            }

            .arrow {
                position: absolute;
                bottom: -48px;
                content: url('../../../Assets/Img/Abnormal/icon-down-arrow.svg');
    
                @include media('<=tablet') {
                    height: 25px;
                    bottom: -25px;
                }
            }
        }
        .organ:nth-of-type(1) {
            margin-left: 0;

            @include media('<smallPhone') {
                padding: 17px 0;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__rowThree {
        border-radius: 12px;
        border: 2px solid $acentColor;
        padding: 9px 36px;
        margin-bottom: 59px;
        display: flex;
        position: relative;

        @include media('<=tablet') {
            padding: 6px 14px;
            margin-bottom: 32px;
        }

        .arrow {
            position: absolute;
            bottom: -48px;
            content: url('../../../Assets/Img/Abnormal/icon-down-arrow.svg');

            @include media('<=tablet') {
                height: 25px;
                bottom: -25px;
            }
        }
        .arrow:nth-of-type(1) {
            left: 15.6%;
        }
        .arrow:nth-of-type(2) {
            left: 50%;
        }
        .arrow:nth-of-type(3) {
            right: 15.6%;
        }

        ul {
            padding: 18.5px 0px;
            width: 29%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            @include media('<=tablet') {
                padding: 0;
            }

            li {
                color:  $white;
                font-size:  $fontSize18;
                font-weight: $fontWeightNormal;
                line-height: $lineHeight140;
                padding-left: 16px;
                position: relative;

                @include media('<=tablet') {
                    font-size:  $fontSize10;
                }
            }
            li::before{
                position: absolute;
                left: 0;
                content: '•';
                margin-right: 8px;
            }
        }

        ul:nth-of-type(1) {
            margin-right: 36px;

            @include media('<=tablet') {
                margin-right: 14px;
            }
            @include media('<smallPhone') {
                padding-top: 7.5px;
                padding-bottom: 7.5px;
            }
        }
        ul:nth-of-type(2) {
            padding: 18.5px 36px;
            width: 34%;
            border-left: 2px solid $acentColor;
            border-right: 2px solid $acentColor;

            @include media('<=tablet') {
                padding: 0 14px;
            }

            @include media('<smallPhone') {
                padding-top: 7.5px;
                padding-bottom: 7.5px;
            }
        }
        ul:nth-of-type(3) {
            margin-left: 36px;
            align-self: self-start;

            @include media('<=tablet') {
                margin-left: 14px;
            }
        }
    }

    &__rowFour {
        border-radius: 12px;
        border: 2px solid $acentColor;
        padding: 32px 40px;

        @include media('<=tablet') {
            padding: 17px 22px;
        }

        .title {
            color: $white;
            text-align: center;
            font-size: $fontSize34;
            font-weight: $fontWeightBold;
            line-height: $lineHeight135; 

            @include media('<=tablet') {
                font-size: $fontSize16;
            }
        }

        .des {
            color:  $white;
            text-align: center;
            font-size:  $fontSize18;
            font-weight: $fontWeightNormal;
            line-height: $lineHeight140;
            margin-top: 20px;

            @include media('<=tablet') {
                font-size: $fontSize9;
                margin-top: 10px;
            }
        }
    }
  }