<div class="weightMatters" id="Matters">
    <div class="contentWrap">
        <Info :infoData="mattersData.infoData" />
    </div>
    <div class="graphContainer">
        <Abnormal />
    </div>
    <div class="contentWrap">
        <CallOut :callOutText="mattersData.callOutContent" />
        
        <DiseasePercent :diseaseData="mattersData.diseasePercentData" />

        <div class="videoContainer">
            <VideoContent v-for="(data, index) in mattersData.videoData" :key="index" :videoData="data" />
        </div>
        <p class="footnote">T2D, type 2 diabetes.</p>
    </div>
</div>