<div class="weightMatters" id="Matters">
    <div class="contentWrap">
        <Info :infoData="infoData" />
    </div>
    <div class="graphContainer">
        <div class="graphImage">
          <img src="@/Assets/Img/WeightMatters/graph.png" alt="graph">
        </div>
    </div>
    <div class="contentWrap">
        <CallOut :callOutText="callOutContent" />
        
        <DiseasePercent :diseaseData="diseasePercentData" />

        <div class="videoContainer">
            <VideoContent v-for="(data, index) in videoData" :key="index" :videoData="data" />
        </div>
        <p class="footnote">T2D, type 2 diabetes.</p>
    </div>
</div>