.resourceHub {
  background: $gradient1;
  padding: 48px 0 0;

  .container {
    max-width: 1120px;
    background: $white;
    box-shadow: $boxShadow;
    padding: 32px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    @include media('<phone') {
      flex-direction: column;
      padding: 24px;
      gap: 32px;
    }

    .text {
      margin-right: 100px;
      @include media('<=tablet') {
        flex: 35%;
        margin-right: 31px;
      }

      @include media('<phone') {
        flex: 100%;
        margin-right: 0;
      }

      &__title {
        color: $primaryColor;
        font-size: $fontSize24;
        font-weight: $fontWeightSemiBold;
      }

      &__description {
        color: $bodyCopy;
        font-size: $fontSize18;
        font-weight: $fontWeightNormal;
        line-height: $lineHeight135;
        margin: 16px 0 32px;

        @include media('<=tablet') {
          max-width: 220px;
        }
        @include media('<phone') {
          width: 100%;
          max-width: 100%;
        }
      }

      a {
        text-decoration: none;

        button{
          @include media('<=tablet') {
            width: 289px;
          }

          @include media('<phone') {
            width: 100%;
          }
        }
        
        button {
          border-radius: 12px;
          background: $primaryColor;
          border: none;
          padding: 10px 20px;
          color: $white;
          text-align: center;
          font-size: $fontSize16;
          font-weight: $fontWeightBold;
          line-height: $lineHeight140;
        }
      }

      button:hover {
        background: #b1160e;
        cursor: pointer;
      }
    }

    .image {
      @include media('<=tablet'){
        flex: 45%;

        img {
          width: 100%;
          height: auto;
        }
      }

      @include media('<=phone') {
        align-self: flex-start;
        width: 100%;
      }
    }
  }
}
