<div class="resourceHub" id="Resource">
    <div class="contentWrap">
        <Info :infoData="infoData" />

        <div class="container">
            <div class="text">
                <p class="text__title" v-html="resourceData.title"></p>
                <p class="text__description" v-html="resourceData.des"></p>
                <a :href="resourceData.url" target="_blank"><button v-html="resourceData.anchorText"></button></a>
            </div>
            <div class="image">
                <img :src="resourceData.image" alt="workmat">
            </div>
        </div>

        <References :referenceData="referenceData" />
    </div>
</div>