<div class="weightManagement" id="Importance">
    <div class="contentWrap">
        <Info :infoData="managementData.infoData" />
        <RiskReduction :riskReductionData="managementData.riskReductionData" />
        <Graphs :graphData="managementData.graphData"/>
    </div>

    <div class="chartContainer">
        <p v-for="(data, index) in managementData.chartData.text" v-html="data"></p>

        <div class="chart" v-for="(data, index) in managementData.chartData.image">
          <img :src="data" alt="chart">
        </div>
    </div>

    <div class="contentWrap">
        <CallOut :callOutText="managementData.callOutContent" />
        <p class="footnote">T2D, type 2 diabetes.</p>
    </div>
</div>