.weightManagement {
  background: $gradient1;
  padding: 48px 0 0;

  .chartContainer {
    width: 100%;
    padding: 60px 20px;
    background: $black;
    margin: 60px 0;

    p {
      margin: 0 auto;
      color: $white;
      font-size: $fontSize34;
      font-weight: $fontWeightSemiBold;
      line-height: $lineHeight135;
      max-width: 1120px;

      @include media('<=tablet') {
        font-size: $fontSize24;
      }
    }

    p:nth-of-type(2) {
      margin: 40px auto;
    }

    .chart {
      margin: 0 auto;
      max-width: 988px;
    }

    .chart:nth-of-type(2) {
      margin-top: 32px;
      max-width: 898px;
    }

    .chart {
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
