.videoContent {
  display: flex !important; //to overwrite the slick slide property
  vertical-align: center;

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 56px;

    &--text {
      color: $bodyCopy;
      font-size: $fontSize20;
      line-height: $lineHeight140;

      ::v-deep .bold {
        font-weight: $fontWeightSemiBold;
      }
    }

    ul {
      margin-top: 32px;
    }

    ul li {
      display: flex;
      padding-left: 15px;
      align-items: flex-start;
      gap: 8px;
      align-self: stretch;
      color: $bodyCopy;
      font-size: $fontSize18;
      font-weight: $fontWeightNormal;
      line-height: $lineHeight140;

      ::v-deep .bullets {
        color: $primaryColor;
      }
      ::v-deep .bold {
        font-weight: $fontWeightSemiBold;
      }
    }

    ul li:nth-of-type(2) {
      margin: 8px 0;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    &--video:hover {
      cursor: pointer;
    }

    &--text {
      color: $bodyCopy;
      font-size: $fontSize16;
      line-height: $lineHeight130;

      ::v-deep .bold {
        font-weight: $fontWeightSemiBold;
      }
    }
  }
}
