.weightQuote {
  margin: 32px auto 60px;
  padding: 40px;
  background-color: #fff;
  box-shadow: $boxShadow;

  &__data {
    display: flex;
    gap: 32px; 
    align-items: center;

    &:nth-of-type(1) {
      padding-bottom: 32px;
      border-bottom: 1px solid #bdbdbd;
    }

    &:nth-of-type(2) {
      padding-top: 32px;
    }

    p {
      color: $bodyCopy;
      font-size: $fontSize18;
      font-weight: $fontWeightNormal;
      line-height: $lineHeight135;

      .semi-bold {
        font-weight: $fontWeightSemiBold;
      }
    }
  }
}