.references {
  padding: 24px 12px;
  border-top: 2px solid $bdr;
  border-bottom: 2px solid $bdr;
  margin: 60px auto;

  .accordian {
    display: flex;
    justify-content: space-between;

    &__title {
      color: $primaryColor;
      font-size: $fontSize24;
      font-weight: $fontWeightBold;
      line-height: normal;
    }

    &__icons:hover {
      cursor: pointer;
    }

    &__icons {
      background: url('../../../Assets/Img/icons/icon-show.svg');
      width: 24px;
      height: 24px;
    }

    .active {
      background: url('../../../Assets/Img/icons/icon-hide.svg');
    }
  }

  .panel {
    margin-top: 24px;

    ol {
      list-style-type: number;
      margin-top: 24px;
      list-style-position: outside;
      padding-left: 14px;

      ::marker {
        font-weight: $fontWeightBold;
      }

      li {
        color: $bodyCopy;
        font-size: $fontSize14;
        font-weight: $fontWeightNormal;
        line-height: $lineHeight135;
        margin-top: 16px;
        padding-left: 8px;
      }
    }
  }
}
